//
//  Production.xcconfig
//  reactnative_uitpas
//
//  Created by Sam Van Hoey on 12/13/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Shared.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = be.cultuurnet.uitpas
PROVISIONING_PROFILE_SPECIFIER = be.cultuurnet.uitpas AppStore
CODE_SIGN_IDENTITY = iPhone Distribution
DEVELOPMENT_TEAM = FAJTRUZ6J9
ENV_FILE = .env
