name: Release production

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types: [closed]

env:
  BUILD_NUMBER: ${{ github.run_number }}

jobs:
  release_prod_ios:
    name: iOS (production)
    environment: production
    runs-on: macos-15
    if:
      github.event_name == 'workflow_dispatch' || (startsWith(github.head_ref, 'release/') && github.event.pull_request.merged ==
      true)
    steps:
      - name: Notarize Release Build
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - uses: actions/checkout@v3
      - uses: nyaa8/package-version@v1
        name: Fetch current version
      - name: Create .env file
        run: |
          touch .env
          echo EXPO_PUBLIC_NODE_ENV=production >> .env
          echo EXPO_PUBLIC_APP_NAME="${{ secrets.APP_NAME }}" >> .env
          echo EXPO_PUBLIC_APP_PACKAGE_NAME="${{ secrets.APP_PACKAGE_NAME }}" >> .env
          echo EXPO_PUBLIC_APP_VERSION="${{ env.PACKAGE_VERSION }}" >> .env
          echo EXPO_PUBLIC_APP_LOGGING_LEVEL=warn >> .env
          echo EXPO_PUBLIC_APP_ICON="${{ secrets.APP_ICON }}" >> .env
          echo EXPO_PUBLIC_APP_ADAPTIVE_ICON="${{ secrets.APP_ADAPTIVE_ICON }}" >> .env
          echo EXPO_PUBLIC_APP_ADAPTIVE_ICON_BACKGROUND_COLOR="${{ secrets.APP_ADAPTIVE_ICON_BG_COLOR }}" >> .env
          echo EXPO_PUBLIC_AUTH_CLIENT_ID="${{ secrets.AUTH_CLIENT_ID }}" >> .env
          echo EXPO_PUBLIC_AUTH_ISSUER="${{ secrets.AUTH_ISSUER }}" >> .env
          echo EXPO_PUBLIC_API_HOST="${{ secrets.API_HOST }}" >> .env
          echo EXPO_PUBLIC_API_HOST_UITDATABANK="${{ secrets.API_HOST_UITDATABANK }}" >> .env
          echo EXPO_PUBLIC_APP_ENCRYPTION_KEY="${{ secrets.ENCRYPTION_KEY }}" >> .env
          echo EXPO_PUBLIC_SENTRY_DSN="${{ secrets.SENTRY_DSN }}" >> .env
          echo EXPO_PUBLIC_TRACKING_HOST="${{ secrets.TRACKING_HOST }}" >> .env
          cat .env
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - name: Enable Corepack
        run: corepack enable
      - name: Prepare pnpm
        run: corepack prepare pnpm@10.23.0 --activate
      - run: fastlane build env:production ios:true
        env:
          CI_IOS_TEAM_ID: '${{ secrets.IOS_TEAM_ID }}'
          CI_IOS_CODE_SIGN_IDENTITY: '${{ secrets.IOS_CODE_SIGN_IDENTITY }}'
          CI_IOS_PROVISIONING_PROFILE: 'fastlane/Compubliquitpas App Store.mobileprovision'
          CI_IOS_USERNAME: '${{ secrets.IOS_USERNAME }}'
          CI_IOS_TEAM_NAME: '${{ secrets.IOS_TEAM_NAME }}'
          CI_IOS_APPLE_ID: '${{ secrets.IOS_APPLE_ID }}'
  release_prod_android:
    name: Android (prod)
    environment: production
    runs-on: macos-15
    if:
      github.event_name == 'workflow_dispatch' || (startsWith(github.head_ref, 'release/') && github.event.pull_request.merged ==
      true)
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.BRANCH }}
      - uses: nyaa8/package-version@v1
        name: Fetch current version
      - name: Create .env file
        run: |
          touch .env
          echo EXPO_PUBLIC_NODE_ENV=production >> .env
          echo EXPO_PUBLIC_APP_NAME="${{ secrets.APP_NAME }}" >> .env
          echo EXPO_PUBLIC_APP_PACKAGE_NAME="${{ secrets.APP_PACKAGE_NAME }}" >> .env
          echo EXPO_PUBLIC_APP_VERSION="${{ env.PACKAGE_VERSION }}" >> .env
          echo EXPO_PUBLIC_APP_LOGGING_LEVEL=warn >> .env
          echo EXPO_PUBLIC_APP_ICON="${{ secrets.APP_ICON }}" >> .env
          echo EXPO_PUBLIC_APP_ADAPTIVE_ICON="${{ secrets.APP_ADAPTIVE_ICON }}" >> .env
          echo EXPO_PUBLIC_APP_ADAPTIVE_ICON_BACKGROUND_COLOR="${{ secrets.APP_ADAPTIVE_ICON_BG_COLOR }}" >> .env
          echo EXPO_PUBLIC_AUTH_CLIENT_ID="${{ secrets.AUTH_CLIENT_ID }}" >> .env
          echo EXPO_PUBLIC_AUTH_ISSUER="${{ secrets.AUTH_ISSUER }}" >> .env
          echo EXPO_PUBLIC_API_HOST="${{ secrets.API_HOST }}" >> .env
          echo EXPO_PUBLIC_API_HOST_UITDATABANK="${{ secrets.API_HOST_UITDATABANK }}" >> .env
          echo EXPO_PUBLIC_APP_ENCRYPTION_KEY="${{ secrets.ENCRYPTION_KEY }}" >> .env
          echo EXPO_PUBLIC_SENTRY_DSN="${{ secrets.SENTRY_DSN }}" >> .env
          echo EXPO_PUBLIC_TRACKING_HOST="${{ secrets.TRACKING_HOST }}" >> .env
          cat .env
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - name: Enable Corepack
        run: corepack enable
      - name: Prepare pnpm
        run: corepack prepare pnpm@10.23.0 --activate
      - name: Decode Service Account Key JSON File
        uses: timheuer/base64-to-file@v1
        id: service_account_json_file
        with:
          fileName: 'uitpas-store-api.json'
          encodedString: ${{ secrets.GPLAY_SERVICE_ACCOUNT_KEY_JSON }}
      - name: Decode Keystore File
        uses: timheuer/base64-to-file@v1
        id: android_keystore
        with:
          fileName: 'uitpas.keystore'
          encodedString: ${{ secrets.STORE_FILE }}
      - run: fastlane build env:production android:true
        env:
          STORE_FILE: ${{ steps.android_keystore.outputs.filePath }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          ANDROID_JSON_KEY_FILE: ${{ steps.service_account_json_file.outputs.filePath }}
  create_release:
    name: Create release
    needs: [release_prod_ios, release_prod_android]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.BRANCH }}
      - uses: nyaa8/package-version@v1
        name: Fetch current version
      - name: Run latest-tag
        uses: EndBug/latest-tag@latest
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.PACKAGE_VERSION }}
